:root{
    --cor-fundo:#4D2FB2;
    --cor-principal:#B153D7;
    --cor-secundaria:#F375C2;
    --cor-destaque:#0E21A0;
    --cor-texto:#F5F5DC;

}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}